@import url(http://fonts.googleapis.com/css?family=Anaheim);
body {
  font-family: 'Anaheim';
  line-height: 12px;
  padding: 0;
  margin: auto;
  line-height: 20px;
  color: #797979;
}
.navbar {
  background: url('../img/bck_header.png') repeat;
}
.navbar .container {
  background: none;
}
.navbar .btn-navbar {
  margin-right: 30px;
}
.navbar .navbar-inner {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}
.navbar .navbar-inner ul.nav {
  margin: 0;
}
.navbar .navbar-inner ul.nav li > a {
  line-height: 64px;
  margin: 0;
}
.navbar .navbar-inner ul.nav li.active a,
.navbar .navbar-inner ul.nav li:hover a {
  background: #f9c7c2;
}
.container-fluid {
  background: url('../img/bck-general.jpg') repeat;
  padding: 30px;
}
.container-fluid > * {
  max-width: 1200px;
  margin: auto;
}
.container-fluid.white {
  background: url('../img/bck-zone-blanche.jpg') repeat;
}
p {
  text-align: justify;
}
input {
  margin: 0;
}
.btnSubmit {
  height: 31px;
  width: 32px;
  padding-top: 5px!important;
  cursor: pointer;
  background: url(../img/form_btn.png) no-repeat 0 0;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  margin-top: -3px;
}
.btnSubmit:hover {
  background-position: -33px 0;
}
.right {
  text-align: right!important;
}
.left {
  text-align: left!important;
}
.guillemet {
  float: left;
  margin-top: -14px;
}
.photo {
  margin: auto!important;
  text-align: center!important;
}
.etiquette {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
  background: url(../img/etiquette-ribbon-trait.png) no-repeat 50% 50%;
  width: 100%;
}
.etiquette img {
  min-width: 236px;
  min-height: 31px;
}
.etiquette p {
  margin: 0;
  padding: 0;
}
.expand {
  width: 11px;
  height: 7px;
  cursor: pointer;
}
.expand.expand-rose {
  color: #f9847a;
}
.expand.expand-verte {
  color: #93d250;
}
.enveloppe {
  cursor: pointer;
  margin-top: -2px;
  width: 14px;
  height: 11px;
  display: inline;
  float: right;
  background: url(../img/enveloppe.png) no-repeat 0 0;
}
.temoins .collapse {
  margin-top: -9px;
}
.temoins .option {
  line-height: 14px;
  margin: 0;
  margin-top: -5px;
}
.temoins .header {
  margin-bottom: 15px!important;
  margin-top: 10px!important;
}
.lieux {
  margin-bottom: 15px;
}
.lieux img {
  margin: 5px;
}
.lieux a {
  color: #797979;
  text-decoration: underline;
}
.lieux a.verte:hover {
  color: #93d250;
}
.marge {
  margin: 20px 0;
}
.perso-trait {
  margin-top: 5px!important;
  margin-bottom: 5px!important;
}
.presentation {
  text-align: center;
  line-height: 24px;
}
.presentation p {
  margin-top: 10px;
}
.presentation img {
  margin: 5px;
}
a {
  color: #f9847a;
  text-decoration: none;
  margin-top: 10px;
}
a:hover {
  color: #f9847a;
}
h3 {
  padding: 0;
  margin: 0;
  font-size: 1.3em;
  line-height: 1.35em;
  font-weight: normal;
}
.small p {
  line-height: 1.15em!important;
}
