@import url(http://fonts.googleapis.com/css?family=Anaheim);
body{
	font-family: 'Anaheim';
	line-height: 1.2em;
	padding: 0;
	margin: auto;
}
.navbar {
	background:url('../img/bck_header.png') repeat;
	.container {
		background:none;
	}
	.btn-navbar {
		margin-right: 30px;
	}
	.navbar-inner {
		background:none;
		-webkit-box-shadow:none;
		box-shadow: none;
		border:none;

		ul.nav {
			margin:0;
			li > a {
				line-height: 64px;
				margin:0;
			}
			li.active a,li:hover a {
				background:#f9c7c2;
			}
		}
	}
}

.container-fluid {
	background:url('../img/bck-general.jpg') repeat;
	padding:10px;
}
.container-fluid  > * {  	
	max-width: 1200px;
	margin: auto;
}

.container-fluid.white {
	background:url('../img/bck-zone-blanche.jpg') repeat;
}

p {
	text-align: justify;
}
.submitForm{
	height:31px;
	width:32px;
	padding-top: 5px!important;
	cursor: pointer;
	background:url(../img/form_btn.png)no-repeat 0 0;
	display: inline-block;
	text-decoration: none;
	&:hover{
		background-position: -33px 0;
	}
}
.right {
	text-align: right!important;
}
.guillemet{
	float: left;
	margin-top: -14px;
}
.photo {
	margin:auto!important;
	text-align: center!important;
}
.etiquette {
	text-align: center;
	img {width:100%;}
}

.expand{
	width: 11px;
	height: 7px;
	display: block;
	cursor: pointer;
	&.expand-rose{
		background: url(../img/fleche_rose.png)no-repeat 0 0;
	}
	&.expand-verte{
		background: url(../img/fleche_verte.png)no-repeat 0 0;
	}
}
.enveloppe{
	cursor: pointer;
	margin-top: -2px;
	width: 14px;
	height: 11px;
	display: inline;
	float: right;
	background: url(../img/enveloppe.png)no-repeat 0 0;
}
.temoins{
	.collapse{margin-top: -9px;}
	.option {
		line-height: 14px;
		margin: 0;
		margin-top:-5px;
	}
}
.presentation {
	text-align: center;
}
a{
	color: #f9847a;
	text-decoration:none;
	margin-top:10px;
	&:hover{color: #f9847a;}
}
h3{
	padding: 0;
	margin: 0;
	font-size: 1.3em;
	line-height: 1.35em;
	font-weight: normal;
}
.small p{
	line-height: 1.15em!important;
}
