.container {
	background:url('../img/bck-general.jpg') repeat;
}

.container.white {
	background:url('../img/bck-zone-blanche.jpg') repeat;
}
.topPhoto {
	margin:auto;
	text-align: center;
}
.etiquette {
	text-align: center;
	img {width:100%;}
}
.temoins, .lieux {
	p {text-align: center}
}
.presentation {
	text-align: center;
}